<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513910592098-kr0h0l7it6bsjg3hvv9t7q9lvsg92ove.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513910592098-kr0h0l7it6bsjg3hvv9t7q9lvsg92ove</string>
	<key>API_KEY</key>
	<string>AIzaSyBKS2McthBVtrwQ1xGhXrWXxiZXP0vmKHE</string>
	<key>GCM_SENDER_ID</key>
	<string>513910592098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonathanlemaine.profb</string>
	<key>PROJECT_ID</key>
	<string>sylvie-profd</string>
	<key>STORAGE_BUCKET</key>
	<string>sylvie-profd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513910592098:ios:4ebe327783c917a1f8f73b</string>
</dict>
</plist>